/* Created Using Easy HTML v1.2.5 */
/* https://play.google.com/store/apps/details?id=ak.andro.easyhtml */

#div{
  
  background-color:#088bd6;
  width:70%;
  height:5%;
  border:2px solid red;
  margin:30%;
  
  }
