.a {
  color: #337ab7;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}

.btn{
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42;
	outline:none;
	border: 1px solid transparent;
	border-radius:4px;
	cursor: pointer;
	background-color:rgba(0,0,161,.6);
	box-shadow:0px 0px 1px black;
	color:white;
}

.btn:hover{
	background-color:rgba(0,0,161,.7);
}
.btn:active{
	background-color:rgba(0,0,161,.7666);

}

span.btn{
    padding:8px 16px;
}
