.buttonAp 
{
	color: #000000;
	font-family:Segoe UI, Tahoma, Sans-Serif;
	font-size:12pt;		
	font-weight:bold;
	border-right: #A0C0E7 1px solid; 
	border-top: #A0C0E7 1px solid; 
	border-left: #A0C0E7 1px solid;  
	border-bottom: #A0C0E7 1px solid;
	background: -moz-linear-gradient(top, #E2EBF5, #A0C0E7); /* for Firefox */
	background: -webkit-gradient(linear, left top, left bottom, from(#E2EBF5), to(#A0C0E7)); /* For Webkit Browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E2EBF5', endColorstr='#A0C0E7'); /* for IE */
}

.listButton
{
	border-right: #A0C0E7 1px solid; 
	padding-right: 1px; 
	border-top: #A0C0E7 1px solid;  
	padding-bottom: 1px; 
	padding-left: 1px;
	border-left: #A0C0E7 1px solid;  
	padding-top: 1px; 
	border-bottom: #A0C0E7 1px solid;
	background-color: #E2EBF5;	
}

.fontItemListButton
{
	color: #000000;
	font-family:Segoe UI, Tahoma, Sans-Serif;
	font-size:10pt;	
}
/* Listagem 1. Criando o estilo */