/* Created Using Easy HTML v1.2.5 */
/* https://play.google.com/store/apps/details?id=ak.andro.easyhtml */

#texto{
  
font-size:20px;
 border-radius:5px;
  height:32px;
  }

#btn{
  height:30px;
  border-radius:5px;
  outline:none;
  }